/* 
    Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* 
    Global Css
*/

:root {
    /* --main-color: #7857fe; */
    --main-color: #0c0c0c;
    --color-1: #eb1010;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --btn-color: #017EBA;
    --bg-dark: #2b2c2f;
    --whatsapp: #34af23;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: rgba(0,0,0,0.05);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #ffffff;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    outline: none!important;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

.btn-1 {
    background-color: #ffffff;
    padding: 12px 30px;
    border:  none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    /* animation: pulse_01 2s ease infinite; */
    font-weight: 500;
}

.btn-1:focus {
    box-shadow: var(--shadow-black-300);
}

.btn-1:hover {
    color: #ffffff;
    background-color: var(--whatsapp);
}

.effect-wrap .effect {
    position: absolute;
    z-index: 2;
}

.effect-wrap .effect-1 {
    left: 20%;
    top: 20%;
    font-size: 20px;
    color: var(--color-2);
    animation: spin_01 5s linear infinite;
}

.effect-wrap .effect-2 {
    right: 5%;
    top: 10%;
    font-size: 25px;
    color: rgba(255,255,255,0.5);
    animation: spin_01 7s linear infinite;
}

.effect-wrap .effect-3 {
    left: 5%;
    bottom: 30%;
    font-size: 25px;
    color: var(--color-3);
    animation: bounceTop_01 3s linear infinite;
}

.section-padding {
    padding: 80px 0;
}

.section-title {
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

.section-title h2 span {
    color: var(--color-1);
}

.owl-carousel .owl-dots {
    padding: 0 15px;
    text-align: center;
    margin-top: 20px;
}

.owl-carousel button.owl-dot {
    height: 6px;
    width: 24px;
    background-color: #dddddd;
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
}

.owl-carousel button.owl-dot.active {
    background-color: var(--btn-color);
}

/* 
    Navbar
*/

.navbar {
    background-color: transparent;
    padding: 20px 0;
    transition: all 0.5s ease;
    /* position: fixed; */
}

.navbar.navbar-shrink {
    /* box-shadow: 0 10px 10px rgba(0,0,0,0.1); */
    color: var(--main-color);
    padding: 10px 0;
}

.navbar > .container {
    padding: 0 15px;
}

.container a img {
    height: 120px;
    margin-top: 40px;
}

/* 
    Home Section
*/

.home {
    min-height: 90vh;
    /* padding: 0px 0; */
    background-color: var(--main-to-dark-color);
    border-radius: 0 0 200px 0;
    /* position: relative; */
    z-index: 1;
}

.home h1 {
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 20px;
}

.home p {
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
}

.home .home-btn {
    margin-top: 40px;
}

.home .home-btn .video-play-btn {
    margin-left: 30px;
    height: 50px;
    width: 50px;
    padding: 0;
    font-size: 16px;
    animation: pulse_01 2s ease infinite;
}

.home .home-btn .video-play-btn:hover{
    animation: none;
    box-shadow: var(--shadow-black-300);
}

.home .home-btn .video-play-btn i {
    line-height: 50px;
}

.home .home-btn img {
    height: 50px;
}

.home-img img {
    max-width: 550px;
    width: 100%;
    border-radius: 32px;
    animation: bounceTop_01 3s ease infinite;
    z-index: 1;
}

.home-img {
    position: relative;
}

.home-img .circle {
    position: absolute;
    z-index: -1;
    height: 400px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-img .circle::before {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    top: 30px;
    left: 30px;
    transform-origin: 170px 170px;
    animation: spin_01 10s linear infinite; 
}

/* 
    Features Section
*/

.features .feature-item {
    box-shadow: var(--shadow-black-100);
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.features .feature-item::before,
.features .feature-item::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    transition: all 0.5s ease;
    opacity: 0;
    z-index: -1;
}

.features .feature-item::before {
    height: 20px;
    width: 20px;
    background-color: var(--color-1);
    left: -20px;
    top: 40%;
}

.features .feature-item:hover::before {
    left: 10px;
    opacity: 1;
}

.features .feature-item::after {
    height: 30px;
    width: 30px;
    background-color: var(--color-2);
    right: -30px;
    top: 80%;
}

.features .feature-item:hover::after {
    right: -15px;
    opacity: 1;
}

.features .feature-item .icon {
    height: 120px;
    width: 150px;
    /* background-color: #eb1010; */
    margin: 0 auto 30px;
    text-align: center;
    font-size: 30px;
    color: var(--main-color);
    position: relative;
    transition: all 0.5s ease;
    z-index: 1;
}

.features .feature-item .icon::before {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.5s ease;
    z-index: -1;
    opacity: 0;
}

.features .feature-item:hover .icon {
    color: #ffffff;
    font-size: 20px;
}

.features .feature-item:hover .icon::before {
    left: 0;
    border-radius: 10px;
    opacity: 1;
}

.features .feature-item .icon img {
    width: 100%;
    height: 100%;
    /*line-height: 100px;*/
    
}

.features .feature-item .icon h3 {
    font-size: 22px;
    margin: 0 0 10;
    color: var(--black-900);
    font-weight: 500;
    text-transform: capitalize;
}

.features .feature-item .icon p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: var(--black-400);
    margin: 0 0 15px;
}

/* 
    Team Section
*/

.team {
    background-color: #ffffff;
}

.team-item {
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: var(--shadow-black-100);
}

.team-item h3 {
    font-size: 18px;
    color: var(--black-900);
    font-weight: 500;
    margin: 15px 0 8px;
    text-transform: capitalize;
}

.team-item span {
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-400);
    text-transform: capitalize;
}

/* 
    Footer
*/

.footer {
    background-color: var(--main-color);
    padding: 7px 0 0;
}

.footer-col h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 20px;
    text-transform: capitalize;
}

.footer-col p {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    line-height: 26px;
    margin: 0;
}

.footer-col ul {
    margin: 0;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    text-transform: capitalize;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-col ul li a:hover {
    padding-left: 5px;
    color: var(--color-1);
}

.footer-title  {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 20px;
}

.footer-title img {
    width: 50%;
}

.card-image {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.footer .copyright-text {
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    margin: 5px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}


@keyframes spin_01 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes bounceTop_01 {
    0%,100%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0px);
    }
}

@keyframes pulse_01 {
    0%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(52, 175, 35);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }
    100%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }    
}

@media only screen and (max-width: 400px) {
    .card-image {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .card-image img {
        width: 70px;
        padding: 3px;
    }
}

@media only screen and (max-width: 600px) {
    .card-image {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .card-image img {
        width: 70px;
        padding: 3px;
    }
}

